<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metamong.mt.domain.reservation.repository.mybatis.ReservationMapper">

    <!-- 시설 이용자의 예약 목록 조회 -->
 	<select id="findReservationByConsId" resultType="com.metamong.mt.domain.reservation.dto.response.ReservationResponseDto">
		<![CDATA[
			SELECT * FROM (
				SELECT f.fct_name AS "fctName",
					r.rvt_id AS "rvtId",
					r.rvt_date AS "rvtDate",
					z.zone_name AS "zoneName",
					r.usage_start_time AS "usageStartTime",
					r.usage_end_time AS "usageEndTime",
					p.pay_state AS "payState",
				    ROWNUM AS rnum
				FROM reservation r
				JOIN zone z ON r.zone_id = z.zone_id
				JOIN facility f ON f.fct_id = z.fct_id
				JOIN payment p ON p.rvt_id = r.rvt_id
				WHERE r.cons_id = #{consId}
				ORDER BY r.rvt_id desc
			)
			WHERE rnum BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	
	<!-- 전체 예약 개수 조회 -->
    <select id="countReservations" parameterType="Long" resultType="int">
        SELECT COUNT(*) FROM reservation WHERE cons_id = #{consId}
    </select>

    <!-- 시설 이용자의 예약 상세 조회 -->
    <select id="findReservationByRvtId" parameterType="Long" resultType="com.metamong.mt.domain.reservation.dto.response.ReservationResponseDto">
        <![CDATA[
            SELECT f.fct_name AS "fctName", r.rvt_id AS "rvtId", r.rvt_date AS "rvtDate", z.zone_name AS "zoneName",
            f.fct_address AS "fctAddress", f.fct_detail_address AS "fctDetailAddress", r.usage_count AS "usageCount",
            r.usage_start_time AS "usageStartTime", r.usage_end_time AS "usageEndTime", p.pay_state AS "payState"
            FROM reservation r
            JOIN zone z ON r.zone_id = z.zone_id
            JOIN facility f ON f.fct_id = z.fct_id
            JOIN payment p ON p.rvt_id = r.rvt_id
            WHERE r.rvt_id = #{rvtId}
        ]]>
    </select>

    <!-- 예약 내역 개수 조회 -->
    <select id="getTotalCount" resultType="com.metamong.mt.domain.reservation.dto.response.ReservationInfoResponseDto">
            SELECT r.cons_id AS "consId", f.fct_id AS "fctId", count(*) AS "totalCount"
			FROM reservation r
			JOIN zone z ON r.zone_id = z.zone_id
			JOIN facility f ON z.fct_id = f.fct_id
			<!-- JOIN payment p ON p.rvt_id = r.rvt_id
            WHERE p.pay_state = 'P' OR p.pay_state = 'Q' -->
			GROUP BY r.cons_id, f.fct_id
    </select>
    
    <!-- 인기 순위 조회 -->
    <select id="getTopFacilities" resultType="com.metamong.mt.domain.facility.dto.response.FacilityListItemResponseDto">
        <![CDATA[
            SELECT 
			    f.fct_name AS "fctName",
			    f.fct_id AS "fctId",
			    img.img_path AS "repImgUrl", 
			    cat.cat_name AS "catName", 
			    f.fct_address AS "fctAddress"
			FROM (
			    SELECT 
			        f.fct_id, 
			        f.fct_name, 
			        f.fct_address,
			        COUNT(*) AS totalCount
			    FROM reservation r
			    JOIN zone z ON r.zone_id = z.zone_id
			    JOIN facility f ON z.fct_id = f.fct_id
			    JOIN payment p ON p.rvt_id = r.rvt_id
			    WHERE p.pay_state IN ('P', 'Q')
			    GROUP BY f.fct_id, f.fct_name, f.fct_address
			    ORDER BY totalCount DESC
			    FETCH FIRST 10 ROWS ONLY
			) r
			JOIN facility f ON r.fct_id = f.fct_id
			JOIN category cat ON cat.cat_id = f.cat_id
			LEFT JOIN (
			    SELECT img.fct_id, img.img_path AS img_path
			    FROM image img
			    WHERE img.img_attached_to = 'F'
			    AND img_display_order = 1
			) img ON img.fct_id = f.fct_id
        ]]>
    </select>

    <!-- 예약 내역 이용 시간 조회(중복 확인) -->
    <select id="getHourlyUsageCounts" parameterType="com.metamong.mt.domain.reservation.dto.request.ReservationRequestDto" resultType="com.metamong.mt.domain.reservation.dto.response.HourlyUsageDto">
        <![CDATA[
            SELECT r.usage_start_time AS "usageStartTime", r.usage_end_time AS "usageEndTime", COUNT(*) AS "totalUsageCount"
            FROM reservation r
            JOIN payment p ON p.rvt_id = r.rvt_id
            WHERE r.rvt_date = #{rvtDate, jdbcType=DATE}
            AND r.usage_start_time < #{usageEndTime} AND r.usage_end_time > #{usageStartTime}
            AND r.zone_id = #{zoneId}
            AND p.pay_state = 'P' OR p.pay_state = 'Q'
            GROUP BY r.usage_start_time, r.usage_end_time
        ]]>
    </select>

    <!-- 예약 내역 이용 시간 조회 -->
    <select id="getReservedTimes" parameterType="com.metamong.mt.domain.reservation.dto.request.SelectedInfoRequestDto" resultType="com.metamong.mt.domain.reservation.dto.response.HourlyUsageDto">
        <![CDATA[
            SELECT r.usage_start_time AS "usageStartTime", r.usage_end_time AS "usageEndTime", SUM(r.usage_count) AS "totalUsageCount"
            FROM reservation r
            JOIN payment p ON p.rvt_id = r.rvt_id
            WHERE r.rvt_date = #{rvtDate, jdbcType=DATE}
            AND r.zone_id = #{zoneId}
            AND (p.pay_state = 'P' OR p.pay_state = 'Q')
            GROUP BY r.usage_start_time, r.usage_end_time
        ]]>
    </select>

</mapper>
