<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metamong.mt.domain.notification.repository.mybatis.NotificationMapper">
    
    <select id="findNotificationsByReceiverId"
            parameterType="com.metamong.mt.domain.notification.dto.mapper.NotificationListMapperDto"
            resultType="com.metamong.mt.domain.notification.model.Notification">
        SELECT
            noti_id AS "notiId",
            receiver_id AS "receiverId",
            noti_msg AS "notiMsg",
            created_at AS "createdAt",
            is_read AS "isRead"
        FROM notification
        WHERE receiver_id = #{dto.receiverId}
            <if test="!dto.includeRead">
                AND is_read = 'N'
            </if>
        ORDER BY created_at DESC
    </select>
</mapper>
