<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.metamong.mt.domain.facility.repository.mybatis.FacilityMapper">
    
    <insert id="saveAdditionalInfo" parameterType="com.metamong.mt.domain.facility.model.AdditionalInfo">
        <![CDATA[
            INSERT INTO additional_info (
                addinfo_id,
                fct_id,
                addinfo_desc
            ) VALUES (
                addinfo_pk_seq.NEXTVAL,
                #{addinfo.fctId},
                #{addinfo.addinfoDesc}
            )
        ]]>
    </insert>
    
    <insert id="saveCategory" parameterType="com.metamong.mt.domain.facility.model.Category">
        <![CDATA[
            INSERT INTO category (
                cat_id,
                parent_cat_id,
                cat_name
            ) VALUES (
                cat_pk_seq.NEXTVAL,
                <if test="cat.parentCat == null">
                    NULL,
                </if>
                <if test="cat.parentCat != null">
                    #{cat.parentCat.catId},
                </if>
                #{cat.catName}
            )
        ]]>
    </insert>
    
    <resultMap type="com.metamong.mt.domain.facility.dto.response.FacilityResponseDto" id="facilityDto">
        <id property="fctId" column="fct_id" jdbcType="BIGINT" />
        <result property="fctName" column="fct_name" jdbcType="VARCHAR" />
        <result property="fctPostalCode" column="fct_postal_code" jdbcType="CHAR" />
        <result property="fctAddress" column="fct_address" jdbcType="VARCHAR" />
        <result property="fctDetailAddress" column="fct_detail_address" jdbcType="VARCHAR" />
        <result property="fctLatitude" column="fct_latitude" jdbcType="DOUBLE" />
        <result property="fctLongitude" column="fct_longitude" jdbcType="DOUBLE" />
        <result property="fctTel" column="fct_tel" jdbcType="VARCHAR" />
        <result property="catId" column="cat_id" jdbcType="CHAR" />
        <result property="catName" column="cat_name" jdbcType="VARCHAR" />
        <result property="fctGuide" column="fct_guide" jdbcType="VARCHAR" />
        <result property="isOpenOnHolidays" column="is_open_on_holidays" jdbcType="CHAR" />
        <result property="fctOpenTime" column="fct_open_time" jdbcType="DATE" />
        <result property="fctClosetime" column="fct_close_time" jdbcType="DATE" />
        <result property="fctState" column="fct_state" jdbcType="VARCHAR" />
        <collection property="fctImages" ofType="com.metamong.mt.domain.facility.dto.response.FacilityImageResponseDto">
            <id property="fctImgDisplayOrder" column="fct_img_display_order" jdbcType="INTEGER" />
            <result property="fctImgUrl" column="fct_img_path" jdbcType="VARCHAR" />
        </collection>
        <collection property="zones" ofType="com.metamong.mt.domain.facility.dto.response.ZoneResponseDto">
            <id property="zoneId" column="zone_id" jdbcType="BIGINT" />
            <result property="zoneName" column="zone_name" jdbcType="VARCHAR" />
            <result property="maxUserCount" column="max_user_count" jdbcType="INTEGER" />
            <result property="hourlyRate" column="hourly_rate" jdbcType="INTEGER" />
            <result property="is_shared_zone" column="is_shared_zone" jdbcType="CHAR" />
            <collection property="zoneImgs" ofType="com.metamong.mt.domain.facility.dto.response.ZoneImageResponseDto">
                <result property="zoneImgDisplayOrder" column="zone_img_display_order" jdbcType="INTEGER" />
                <result property="zoneImgUrl" column="zone_img_path" jdbcType="VARCHAR" />
            </collection>
        </collection>
        <collection property="additionalInfos" ofType="com.metamong.mt.domain.facility.dto.response.AdditionalInfoResponseDto">
            <id property="addinfoId" column="addinfo_id" jdbcType="BIGINT" />
            <result property="addinfoDesc" column="addinfo_desc" jdbcType="VARCHAR" />
        </collection>
    </resultMap>
    
    <select id="findFacilityById" parameterType="java.lang.Long" resultMap="facilityDto">
        <![CDATA[
            SELECT
                fct.fct_id AS "fct_id",
                fct.fct_name AS "fct_name",
                fct.fct_postal_code AS "fct_postal_code",
                fct.fct_address AS "fct_address",
                fct.fct_detail_address AS "fct_detail_address",
                fct.fct_latitude AS "fct_latitude",
                fct.fct_longitude AS "fct_longitude",
                fct.fct_tel AS "fct_tel",
                cat.cat_id AS "cat_id",
                cat.cat_name AS "cat_name",
                fct.fct_guide AS "fct_guide",
                fct.is_open_on_holidays As "is_open_on_holidays",
                fct.fct_open_time AS "fct_open_time",
                fct.fct_close_time AS "fct_close_time",
                fct.fct_state AS "fct_state",
                fi.img_path AS "fct_img_display_order",
                fi.img_display_order AS "fct_img_display_order",
                z.zone_id AS "zone_id",
                z.zone_name AS "zone_name",
                z.max_user_count AS "max_user_count",
                z.hourly_rate AS "hourly_rate",
                z.is_shared_zone AS "is_shared_zone",
                zi.img_path AS "zone_img_path",
                zi.img_display_order AS "zone_img_display_order",
                addinfo.addinfo_id AS "addinfo_id",
                addinfo.addinfo_desc AS "addinfo_desc"
            FROM facility fct
            INNER JOIN category cat ON cat.cat_id = fct.cat_id
            LEFT JOIN image fi ON fct.fct_id = fi.fct_id
            INNER JOIN zone z ON z.fct_id = fct.fct_id
            LEFT JOIN image zi ON zi.zone_id = z.zone_id
            WHERE fct.fct_id = #{fctId}
        ]]>
    </select>
</mapper>