/* 공통 */
body {
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

button{
  background: #4a66e6;
  border: 1px solid #fff;
  color: #fff;
}

/* 커스터마이징 */
.signup-btn {
  height: 45px;
  font-size: 16px;
}

.signup-btn:disabled{
  background: #eee;
  color: #999;
  border: 1px solid #999;
}

.signup-input{
  border: none;
	border-radius: 0px;
	border-bottom: 1px solid #999;
}

.error-message {
	font-size: 14px;
	color: #ff0101;
}

.routed{
  margin-top: 50px;
  max-height: 780px;
  overflow: scroll;
}